deb_dist/
build/
*.o
*.a
*.so
*.dll
*.dylib
Makefile.bak
miniupnpcstrings.h
pythonmodule
upnpc-shared
upnpc-static
minihttptestserver
minixmlvalid
testminiwget
validateminiwget
validateminixml
java/miniupnpc_*.jar
_jnaerator.*
out.errors.txt
jnaerator-*.jar
